<%= tag.div class: "message #{message.role}", id: dom_id(message) do %>
  <% if message.role == "assistant" %>
    <% if message.content.present? %>
      <%= render_markdown(message.content.to_s) %>
    <% else %>
      <span class="typing-indicator">...</span>
    <% end %>
  <% else %>
    <%= message.content %>
    <% if message.file.attached? %>
      <div class="message-file">
        <%= link_to message.file.filename, rails_blob_path(message.file, disposition: "attachment") %>
      </div>
    <% end %>
  <% end %>
<% end %>
