<div class="message <%= message.role %>">
  <% if message.role == "assistant" %>
    <%= render_markdown(message.content.to_s) %>
  <% else %>
    <%= message.content %>
    <% if message.file.attached? %>
      <div class="message-file">
        <%= link_to message.file.filename, rails_blob_path(message.file, disposition: "attachment") %>
      </div>
    <% end %>
  <% end %>
</div>
