body{
  background-color: #222222;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 0;
  color: rgb(255, 234, 118);
}

.view-all {
  color: rgb(255, 234, 118);
}
