<div class="search-page">
  <% if @query.present? %>
    <div class="section-header">
      <% if @vinyls.count > 1 %>
        <h3 class="section-title">Vinyls (<%= @vinyls.count %>)</h3>
      <% else %>
        <h3 class="section-title">Vinyl (<%= @vinyls.count %>)</h3>
      <% end %>
    </div>

    <% if @vinyls.any? %>
      <%= render 'shared/vinyl_card', vinyls: @vinyls %>
    <% else %>
      <p class="no-results">No vinyl found.</p>
    <% end %>
  <% end %>
</div>
