.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 250px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 15px;
  background-color: #800E13;
  color: #F0D060
}

.card h4 {
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  transition: 0.3s ease;
}


.card-body {
  padding: 2px 16px;
}


.card-img {
  width: 100%;
  height: auto;
  display: block;

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
}
