.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 250px;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #800E13;
  color: #F0D060;
  height: 300px;
  overflow: hidden;
}

.card h4 {
  margin-top: 10px;
  font-size: 15px;
}

.card p {
  font-size: 12px;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  transition: 0.3s ease;
}


.card-body {
  padding: 2px 16px 6px 16px;
}


.card-img {
  width: 100%;
  height: auto;
  display: block;

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  width: 100%;
  left: 50%;
}

.main-card {
  width: 100%;
  display: flex;
  gap: 10vw;
  margin-top: 10px;
  margin-bottom: 60px;
}

.large-card {
  max-width: 500px;
  border-radius: 20px;
  height: 500px;
}

.card-img-large {
  width: 100%;
  height: 500px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


.album-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #F0D060;
  max-width: 400px;
}

.album-info h1 {
  margin: 0;
  font-size: 32px;
}

.album-info h2 {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 400;
}

/* Buttons */
.info-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.play-btn,
.wishlist-btn {
  background-color: #F0D060;
  color: #800E13;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
  margin-top: 20px;
}

.play-btn:hover,
.wishlist-btn:hover {
  transform: scale(1.05);
}
