<div class="page-content">
  <div class="main-card">
    <div class="card large-card">
    <%= image_tag "proto_logo.png", alt: "Main image", class: "card-img-large" %>

  </div>
</div>
<div class="album-info">
    <h1>Album Name</h1>
      <h2>Artist Name</h2>
        <p><strong>Label:</strong> XYZ Records</p>
        <p><strong>Year:</strong> 1980</p>

    <button class="play-btn">▶ Play</button>
    <button class="wishlist-btn">♡ Wishlist</button>
  </div>

<div class="card-grid">
  <% 5.times do %>
<div class="card">
  <%= image_tag "proto_logo.png", alt: "Logo", class: "card-img" %>

  <div class="card-body">
    <h4><b>Album</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
<% end %>
  </div>
</div>
