<div class="container">

  <h1>Your collection</h1>

    <% @collections.each_with_index do |collection| %>

      <div class="card">

        <%= link_to vinyls_path, class: "vinyl-link" do %>

          <div class="vinyl"
                style="background-image: url('<%= collection.vinyl.image %>');">

          <div class="card-body">
            <h4><b><%= collection.vinyl.name%></b></h4>
              <% collection.vinyl.artists.each do |artist| %>
                <p> <%=  artist.name %> </p>
              <% end %>
          </div>

            </div>
          </div>
        <% end %>
    <% end %>

</div>
