<div>
  <div class="banner mt-3">
    <h1 class="libre-bodoni d-flex justify-content-center-">Welcome to Side-B</h1>
    <p class="libre-bodoni d-flex justify-content-center-">Your vinyl collection made simple with AI assistance.</p>
  </div>
</div>
