<div>
  <div class="banner mt-3">
    <h1 class="libre-bodoni d-flex justify-content-center-">Welcome to Side-B</h1>
    <p class="libre-bodoni d-flex justify-content-center-">See clearer in your vinyl collection and upgrade your digging habits !</p>
  </div>
</div>
