<div>
  <div class="banner mt-3">
    <h1 class="libre-bodoni d-flex justify-content-center-">Welcome to Side-B</h1>
    <p class="libre-bodoni d-flex justify-content-center-">See your vinyl collection clearer and upgrade your 'digging' habits !</p>
  </div>
</div>
