<div class="vinyl-grid">
  <% vinyls.each do |vinyl| %>
    <%= link_to vinyl_path(vinyl), class: "vinyl-card-link" do %>
      <div class="vinyl-card">
        <div class="cover">
          <% if vinyl.image.present? %>
            <%= image_tag vinyl.image, alt: vinyl.name, class: "cover-image" %>
          <% end %>
          <div class="overlay"></div>
        </div>
        <div class="info">
          <div class="title"><%= vinyl.name %></div>
          <div class="artist"><%= vinyl.artists.map(&:name).join(", ") %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
