<%# Side bar %>
<%= render "shared/banner", featured_vinyls: @featured_vinyls %>

<div class="section-header">
  <h3 class="section-title">Your Recommendations</h3>
  <a href="#" class="view-all">See All →</a>
</div>


<%= render 'shared/vinyl_card', vinyls: @vinyls %>
