<%# Side bar %>
<%= render "shared/banner" %>

<% if @vinyls.any? %>
  <div class="vinyl-grid">
    <%= render partial: "shared/vinyl_card", collection: @vinyls, as: :vinyl %>
  </div>
<% else %>
  <p class="no-results">No vinyl found.</p>
<% end %>
