.chatbox {
 background: linear-gradient(
  135deg,
  rgb(26, 3, 5),
  rgb(96, 0, 0)
);
  border-style: solid;
  border-color: #efcc4c;
  margin-top: 30px;
  box-shadow: 0 12px 28px rgba(252, 238, 188, 0.434);
  border-radius:10px;
}

.chatbox h1 {
text-align: center;

}

.bg-primary {
margin-right: 25px;
background-color: #ef525a !important;
color: black;
}

.answer {
  background-color: rgb(252, 238, 188);
  margin-right: 25px;
  color: black;
  box-shadow: 0 12px 28px rgba(255, 255, 255, 0.244);

}

.form-control {
  background-color: white;
  padding-top:18px;
  color: black;
  margin-left: 350px;
  width: 870px;
}

textarea.form-control {
  height: 60px;
  width: 510px;
  border-radius: 8px;
}

.btn-chat {
  background-color: rgb(252, 238, 188);
  margin-left: 720px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;

}
.btn-chat:hover {
background-color: rgb(255, 221, 0);
}

.ul {
  list-style-type: none;
}

.chat {
  text-decoration: none;
  color:white;
}

.btn-delete {
  color: rgb(252, 238, 188);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.btn-delete:hover {
  color: #e74c3c;
}
