.logo-box {
  background-color: #222222;
  border-radius: 12px 0 0 12px;
  padding: 0px 15px;

}

.avatar-box {
  background-color: #393E41;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);

}

.logo-img {
  height: 70px;
  width: auto;
  border-radius: 7px;
    &:hover {
        box-shadow: 0 10px 15px -10px rgba(255, 225, 105, 0.66);
        transition: 0.3s ease;
    }
}

.avatar-img {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.custom-navbar {
  background: linear-gradient(to right, #670616 0%, #4f0c0c 50%, #470909 100%);
  box-shadow: 0 4px 20px -5px rgba(92, 21, 21, 0.5);
  border-radius: 12px;
  padding: 20px 30px;
  height: 70px;
  overflow: hidden;

  a {
    color: #E2C044;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;

    &:hover {
      transform: translateY(-2px);
      color: #ffe37e;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
      transition: 0.3s ease;
    }
  }
}

.search-input {
  background-color: #232323;
  border: none;
  border-radius: 8px;
  color: rgb(224, 224, 224);
  width: 500px;
  margin-left: 12px;

  &::placeholder {
    color: rgb(224, 224, 224);
  }

  &:focus {
    outline: none;
    background-color: #232323;
  }
}

.search-button {
  background-color: #E2C044;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    transform: translateY(-1px);
    background-color: #ffe37e;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    transition: 0.3s ease;
  }
}
